p {
    color: rgb(18, 120, 205);
    letter-spacing: 1px;
}
p:hover {
    color: green;
}
li {
    color: crimson;
}
li:hover {
    color: rgb(193, 24, 193);
}




html {
    font-family: "Indie Flower";
    background: lightpink;
}
body {
    width: 640px;
    background-color: lightsalmon;
    border: 6px solid hotpink;
}